@import "src/styles/common";
@import "src/styles/breakpoints";


.indicator-single-page{
    & .heading-container{
        padding-top: 70px;
        padding-bottom: 40px;
    }

    &__table-chart-section{
        padding-bottom: 80px;
    }

    & .table-chart-container{
        @include from('bsxl'){
            max-width: 90%;
        }

        @include from('huge'){
            max-width: 1320px;
        }
    }

    &__title{
        text-align: center;
        margin-bottom: 60px;

        @include until('bslarge'){
            margin-bottom: 40px;
        }
    }

    &__subtitle{
        
    }


    &__loading-state, &__empty-state{
        text-align: center;
    }
}