@import "src/styles/common";
@import "src/styles/breakpoints";

.indicator-series-list{
    display:grid;
    grid-template-columns: 0.5fr minmax(0,1fr);
    column-gap: 30px;


    @include until('bslarge'){
        grid-template-columns: 1fr;
        row-gap: 30px;

        &__chart-col{
            order: -1;
        }
    }


    &__table{
    }

    &__chart{
        height: 20vh;
        position: sticky;
        top: 300px;

        @include until('bslarge'){
            height: auto;
            position: unset;
        }
    }

    &__grid{
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        &__header{
            background: $primary-blue;
            padding: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 15px;
            border-radius: 10px 10px 0 0;
            color: #fff;

            & span{
                color: #fff;
                font-weight: bold;
            }
        }

        &__cell{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 15px;
            padding: 15px;
            position: relative;
            background: #faf9f9;

            &:before{
                content:"";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                transform: translateX(3px);
                width: 6px;
                border-radius: 10px 0 0 10px;
                background: $primary-orange;
                transition: transform 0.3s;
                z-index: -1;
            }

            &:hover{
                @include from('bslarge'){
                    background: $primary-blue;
                    color: #fff;
        
                    &:before{
                        transform: translateX(-6px);
                    }
        
                    & i {
                        transform: translate(0px ,-50%);
                        opacity: 1;
                    }
            
                    .indicator-item__grid__cell{
                        & span{
                            color: #fff;
                        }
                    }
                }
            }

            &:last-of-type{
                border-radius: 0 0 10px 0;
            }
        }
    }

    & .before-last-serie{
        border-bottom: 1px solid #cfcfcf; 
    }

    &__loading-state, &__empty-state{
        text-align: center;
    }
}